# CPU-only PyTorch index
--extra-index-url https://download.pytorch.org/whl/cpu

# Web framework
fastapi==0.115.12
uvicorn[standard]==0.34.2

# YOLO
ultralytics==8.3.136

# CPU-only Torch
torch==2.6.0+cpu
torchvision==0.21.0+cpu

# Headless OpenCV
opencv-python-headless==4.11.0.86

# Pydantic
pydantic==2.11.4

# AES-256-CBC password encryption
cryptography==44.0.3